module github.com/org/{{ project_name }}

go {{ go_version }}

require (
	github.com/prometheus/client_golang v1.18.0
{% if has_database and database_type == 'postgres' %}
	github.com/jackc/pgx/v5 v5.5.1
{% endif %}
{% if has_database and database_type == 'mysql' %}
	github.com/go-sql-driver/mysql v1.7.1
{% endif %}
{% if has_database and database_type == 'mongodb' %}
	go.mongodb.org/mongo-driver v1.13.1
{% endif %}
{% if has_cache %}
	github.com/redis/go-redis/v9 v9.4.0
{% endif %}
{% if enable_grpc %}
	google.golang.org/grpc v1.60.1
	google.golang.org/protobuf v1.32.0
{% endif %}
	go.opentelemetry.io/otel v1.22.0
	go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracegrpc v1.22.0
)
